:root {
    --sortofblack: #333;
}

.ubiquitous-dark-topnav {
    overflow: hidden;
    background-color: var(--sortofblack);
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 999;
    width: 100%;
    height: 5vh;
}

    .ubiquitous-dark-topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
    }

        .ubiquitous-dark-topnav a:hover {
            background-color: #ddd;
            color: black;
        }